 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 6px;
}

.u-section-1 .u-image-1 {
  width: 950px;
  height: 556px;
  margin: 0 auto 0 190px;
}

.u-section-1 .u-list-1 {
  width: 1091px;
  margin: -124px auto 0 0;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: calc(25% - 22.5px) calc(25% - 22.5px) calc(25% - 22.5px) calc(25% - 22.5px);
  grid-gap: 30px 30px;
  min-height: 357px;
}

.u-section-1 .u-list-item-1 {
  background-image: none;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-icon-1 {
  height: 88px;
  width: 88px;
  background-image: none;
  margin: 0 auto;
}

.u-section-1 .u-text-1 {
  font-weight: 500;
  text-transform: uppercase;
  margin: 35px 0 0;
}

.u-section-1 .u-text-2 {
  font-style: italic;
  margin: 25px 0 0;
}

.u-section-1 .u-list-item-2 {
  background-image: none;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-icon-2 {
  height: 88px;
  width: 88px;
  background-image: none;
  margin: 0 auto;
}

.u-section-1 .u-text-3 {
  font-weight: 500;
  text-transform: uppercase;
  margin: 35px 0 0;
}

.u-section-1 .u-text-4 {
  font-style: italic;
  margin: 25px 0 0;
}

.u-section-1 .u-list-item-3 {
  background-image: none;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

.u-section-1 .u-icon-3 {
  height: 88px;
  width: 88px;
  background-image: none;
  margin: 0 auto;
}

.u-section-1 .u-text-5 {
  font-weight: 500;
  text-transform: uppercase;
  margin: 35px 0 0;
}

.u-section-1 .u-text-6 {
  font-style: italic;
  margin: 25px 0 0;
}

.u-section-1 .u-list-item-4 {
  background-image: none;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px;
}

.u-section-1 .u-icon-4 {
  height: 88px;
  width: 88px;
  background-image: none;
  margin: 0 auto;
}

.u-section-1 .u-text-7 {
  font-weight: 500;
  text-transform: uppercase;
  margin: 35px 0 0;
}

.u-section-1 .u-text-8 {
  font-style: italic;
  margin: 25px 0 0;
}

.u-section-1 .u-text-9 {
  margin: 36px 898px 65px 0;
}

.u-section-1 .u-btn-1 {
  border-style: none none solid;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-image-1 {
    width: 860px;
    height: 550px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-1 .u-list-1 {
    width: 889px;
    height: auto;
    margin-top: -118px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-text-9 {
    margin-right: 698px;
    margin-bottom: 60px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1266px;
  }

  .u-section-1 .u-image-1 {
    width: 660px;
    height: 524px;
    object-position: 100% 50%;
  }

  .u-section-1 .u-list-1 {
    width: 630px;
    margin-top: -102px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: calc(50% - 15px) calc(50% - 15px);
  }

  .u-section-1 .u-text-9 {
    width: auto;
    margin-top: 35px;
    margin-right: 478px;
    margin-bottom: -321px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1130px;
  }

  .u-section-1 .u-image-1 {
    width: 490px;
    height: 340px;
  }

  .u-section-1 .u-list-1 {
    margin-top: -54px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-9 {
    margin-right: 298px;
    margin-bottom: -510px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1617px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 236px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-1 .u-list-1 {
    width: 290px;
    margin-top: -37px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-1 .u-text-9 {
    width: 242px;
    margin: 25px auto 50px;
  }
}